<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="container">

    <div th:fragment="header">
        <section>
            <div class="pull-right" style="padding-right:5px">
              <span class="user-label">

                   <small>Logged User: </small>
                    <span sec:authentication="name"></span>
              </span>
                |   <a th:href="@{'/survey/users'}">View Users</a> |
                    <a th:href="@{'/survey/logout'}">Logout</a>
            </div>
        </section>
        <br/>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/survey/index}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{'/survey/addQuestion'}"> Add Questions</a></li>
                        <li><a href="#" th:href="@{'/survey/questions'}"> List all questions</a></li>
                       <!-- <li><a href="#" th:href="@{'/customer/new'}"> Register Customer</a></li>-->
                        <li><a href="#" th:href="@{'/survey/customers'}"> List all Customers</a></li>
                        <li><a href="#" th:href="@{'/survey/customerTransactions'}"> View Customer Details</a></li>


                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <img src="../../static/images/crdb.png" width="300" th:src="@{/images/crdb.png}"/>
            </div>
        </div>

    </div>
</div>
</body>
</html>
