
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Boot Exemple</title>

</head>
<body>
<div class="container">

    <h3 th:if="${#vars['flash.message']}" th:text="${#vars['flash.message']}" class="alert alert-success"></h3>

    <div th:if="${not #lists.isEmpty(answers)}">
        <h2>Question List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Answer </th>
                <th>Position</th>
                <th>Sequence</th>
                <th>Qsn_Id</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="answer : ${answers}">
                <td th:text="${answer.id}"><a href="/answer/${answer.id}">Id</a></td>
                <td th:text="${answer.ans}">answer </td>
                <td th:text="${answer.position}">position</td>
                <td th:text="${answer.sequence}">sequence</td>
                <td th:text="${answer.question}">qsn Id</td><td>
                <a th:href="${ '/answerpage/answer/' + answer.id}">View</a></td>
                <td><a th:href="${'/answerpage/answer/edit/' + answer.id}">Edit</a></td>
                <td><a th:href="${'/answerpage/answer/delete/' + answer.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>