<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Index</title>
</head>
<body>
<h2>Good Morning</h2>
<ul>
<li><p> <a th:href="@{'/survey/viewSurvey/1'}"> View Survey</a></p></li>
<li><p> <a th:href="@{'/survey/viewCollector/1'}"> View Collector</a></p></li>
    <li><p> <a th:href="@{'/survey/viewResponses/1'}"> View Response</a></p></li>
    <li><p> <a th:href="@{'/survey/viewQuestions/1'}"> View Questions</a></p></li>
    <li><p> <a th:href="@{'/survey/qsnOne/1'}"> get Question one</a></p></li>
</ul>
</body>
</html>